# Set the command-line arguments to pass to the server.
ARGS="--collector.diskstats.ignored-devices=^(ram|loop|fd)\d+$ \
      --collector.filesystem.ignored-mount-points=^/(sys|proc|dev|run|var/lib/docker)($|/) \
{% if ansible_service_mgr == 'systemd' %}      --collector.systemd \
{% endif %}
      --collector.textfile.directory=/var/lib/prometheus/node-exporter"
